anyio
torch==2.0.1  
torchvision==0.15.2
git+https://github.com/openai/CLIP.git
open_clip_torch 
image-reward 
diffusers 
peft 
wandb 
lmdb 
transformers 
accelerate==0.23.0 
lmdb 
datasets 
evaluate  
scipy 
opencv-python 
matplotlib 
imageio 
piq==0.7.0 
safetensors 
gradio 
huggingface-hub==0.22.0 
clean-fid